<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ICLC 2023 Schedule</title>
    <style>
      body {
        max-width: 1280px;
        font-family: Arial;
      }

      td {
        vertical-align: top;
        padding-bottom: 20px;
        padding-right: 40px;
      }

      h3 {
        margin-bottom: 5px;
      }
    </style>
  </head>
  <body>
    <h1>ICLC 2023 Schedule</h1>
    <p><strong>Only for internal use!</strong></p>
    <p><em>Version: April 6th 2023</em></p>
    <table>
    <!--CONTENT-->
    </table>
  </body>
</html>